{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block page_content %}
	<h1>Welcome to MSTPit!</h1>
	<h2>What's MSTPit?</h2>
	<p>MSTPit stands for Medical Scientist Training Program Information Transfer, or alternatively for Medical Scientist Training Pit. The goal of this website is to serve as a central place for the student body to communicate with each other and the office easily.</p>
	<h2>How to use the site?</h2>
	<p>To start using this site, login using the login window to the right! If you have not received your login information yet, please contact the office!</p>
{% endblock %}